<html>
    <head>
        <title>HOME</title>
    </head>
    <body>
        <div class="welcome">
            <h1>SIGNUP</h1>
            <p>Welcome to</p>
            <a href="/"><img src="JPJC_CandyLab_Logo.jpg" alt=""></a>
            <h1>Your Account Has Been Created Successfully</h1>
            <p>Please click on the JPJC Candy Lab Logo to go back to the order page</p>
        </div>
        
        
    </body>
</html>